$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

$snow: #f8f9fa;

$gray: #999999;

$tan: #c7b198;

$cornsilk: #b3b3b3;

$bisque: #ebe3da;

$burlywood: #b59877;

$darkgray: #171717;

$whitekWithOpacity: rgba(255, 255, 255, 0.8);

$whitekWithOpacityLighter: rgba(255, 255, 255, 0.7);

$whitekWithOpacityDarker: rgba(255, 255, 255, 0.3);

$whitekWithOpacityLight: rgba(255, 255, 255, 0.05);

$blackWithOpacity: rgba(0, 0, 0, 0.3);

$blackWithOpacityLighter: rgba(0, 0, 0, 0.09);

$blackWithOpacityDarker: rgba(0, 0, 0, 0.7);
