@import '../_colors';

#sermon {
    margin-top: 7em;
}

.sermonImg {
    width: 100%;
    background-image: url(../images/sermon-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}